h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: white;
    padding: 15px;
  }

  .container-fluid {
    background-color: #7395AE;
    margin-top: -20px;
    

}

.specialHeader {
    text-align: center;
    color: white;
}



